<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<header>
  <img src="static/finfo_logo.png"></img>
</header>

<body>
    <div id ="reactEntry">
        Loading ...
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='js/bundle.js')}}"></script>
</body>

</html>
