<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<header>
  <img src="static/finfo_logo.png"></img>
  <form action="/api/v1/scrape/" method="post">
      <button name="scrape" type="submit">Update Finfo Database</button>
  </form>
  <ul>
    {% for item in data %}
    <li>Time Last Scraped: {{item.read}}</li>
    <li>Current Time: {{item.curr}}</li>
    {% endfor %}
  </ul>

</header>

<body>
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
    <form>
        <div id="chatbox">
            <div class="col-md-8 ml-auto mr-auto">
                <p class="botText"><span>finBot: Hi! I'm Your bot.</span></p>
            </div>
        </div>
    </form>
    <main>
        <button id="button">Start listening</button>
        <div id="result"></div>
        <p id="message" hidden aria-hidden="true">
          Your browser doesn't support Speech Recognition. Sorry.
        </p>
      </main>
</div>
</div>

<script>
      window.addEventListener("DOMContentLoaded", () => {
        const button = document.getElementById("button");
        const result = document.getElementById("result");
        const main = document.getElementsByTagName("main")[0];
        let listening = false;
        const SpeechRecognition =
          window.SpeechRecognition || window.webkitSpeechRecognition;
        if (typeof SpeechRecognition !== "undefined") {
          const recognition = new SpeechRecognition();

          const stop = () => {
            main.classList.remove("speaking");
            recognition.stop();
            button.textContent = "Start listening";
            console.log("stop")
            console.log(event.results)
          };

          const start = () => {
            main.classList.add("speaking");
            recognition.start();
            button.textContent = "Stop listening";
            console.log("start")
          };

          const onResult = event => {
            result.innerHTML = "";
            words = "";
            for (const res of event.results) {
              //console.log(res)
              const text = document.createTextNode(res[0].transcript);
              const p = document.createElement("p");
              if (res.isFinal) {
                p.classList.add("final");
                words = res[0].transcript;
                $(document).ready(function() {
                        $.ajax({
                            data: {
                                msg: words,
                            },
                            type: "POST",
                            url: "/api/v1/bot/",
                        }).done(function(data) {
                            var userHtml = '<p class="userText"><span>You: ' + words + "</span></p>";
                            $("#text").val("");
                            $("#chatbox").append(userHtml);
                            var botHtml = '<p class="botText"><span>finBot: ' + data + "</span></p>";
                            $("#chatbox").append($.parseHTML(botHtml));

                        });
                        event.preventDefault();
                });
              }
              p.appendChild(text);
              result.appendChild(p);
            }
            if ('speechSynthesis' in window) {
                var msg = new SpeechSynthesisUtterance();
                var voices = window.speechSynthesis.getVoices();
                msg.voice = voices[0]; 
                msg.text = words;
                msg.rate = 0.9;
                msg.volume = 1.0;
                msg.lang = 'en-US';
                window.speechSynthesis.speak(msg);
            } else{
                // Speech Synthesis Not Supported
                alert("Sorry, your browser doesn't support text to speech!");
            }
            console.log(words);
          };
          recognition.continuous = true;
          recognition.interimResults = true;
          recognition.addEventListener("result", onResult);
          button.addEventListener("click", event => {
            listening ? stop() : start();
            listening = !listening;
          });
        } else {
          button.remove();
          const message = document.getElementById("message");
          message.removeAttribute("hidden");
          message.setAttribute("aria-hidden", "false");
        }
      });

</script>
</body>

</html>
